.img_beside_anim {
    height:100%;
    width:100%;
    /*transform:scale(0,0.025);*/
    object-fit: contain;
    cursor: pointer;
    clip-path: inset(calc(0% - 1px) 100% calc(1% - 1px) 0);
    pointer-events: none;
}