.img_anim {
    height:100%;
    width:100%;
    margin:20rem;
    /*transform:scale(0,0.025);*/
    object-fit: contain;
    clip-path: inset(calc(100% - 1px) 100% calc(50% - 1px) 0);
    cursor:auto;
}
a {
    cursor: auto;
}