.all__artist__container {
    opacity: 0;
    /*translate: none;*/
    /*rotate: none;*/
    /*scale: none;*/
    /*transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);*/
    /*box-sizing: border-box;*/
    width: 100%;
    overflow: hidden;
    background: #343434;
}
.all__artist__inner {
    padding:220rem var(--margin-2);
    padding-right: var(--margin-4);
}
.all__artist__contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.artist__area {
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #fff;
    justify-content: space-between;
    height:120rem;
    position: relative;
    z-index: 3;
    cursor: pointer;
}
.artist__area__name {
    font-size: 32rem;
    color: #fff;
    letter-spacing: 4rem;
}
.artist__info {
    display: flex;
    gap: 20rem;
}
.artist__info p {
    display: flex;
    align-items: center;
    font-size: 14rem;
    color: #fff;
    border: 1px solid #828282;
    background: #343434;
    padding: 6rem 30rem;
    border-radius: 2.5em;
}
.artists__image {
    width: 500rem;
    height: 500rem;
    position: absolute;
}
.artists__image img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    opacity: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: all .2s ease;
    transform: scale(.8);
}
@media (max-width: 751px) {
    .all__artist__inner {
        padding-top: 100rem;
        padding-bottom: 86rem;
        padding-right: var(--margin-1);
        padding-left: var(--margin-1);
    }
    .artist__area {
        height: 64rem;
        position: relative;
    }
    .artist__area__name {
        font-size: 12rem;
    }
    .artist__info {
        gap:4rem;
    }
    .artist__info p {
        font-size: 6rem;
        padding: 4rem 8rem;
    }
    .artists__image {
        display: none;
    }
}