.artist_container {
    opacity: 0;
    width: 100%;
    overflow: hidden;
    background: #fff;
    position: relative;
}
.top_visual {
    display: flex;
    justify-content: center;
    flex-direction: column;
    --height: 600rem;
    padding-top: calc(50vh - var(--height)/2);
}
.top_visual img{
    object-fit: contain;
    width: 100vw;
    padding:0 var(--margin-2);
}
.disc__section {
    margin:20rem 0;
}
.disc__list {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    align-items: center;
}
.disc {
    margin: var(--margin-2) 0;
    display: flex;
    flex-direction:column;
    gap:10rem;
    width: 40vw;
    position: relative;
}
.disc:nth-child(odd) {
    transform: rotate(3deg)
}
.disc:nth-child(even) {
    transform: rotate(-3deg)
}
.disc img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    cursor: pointer;
}
.music__name {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    color:#000;
    font-size: 20rem;
    font-weight: bold;
    text-align: right;
}
.infinite__scroll {
    display: block;
    background: #d3d3d3;
    padding:100rem 0;
    position: relative;
}
.artists__name {
    padding: 50rem var(--margin-4);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.artists__name h2{
    font-size:40rem;
    letter-spacing: 4rem;
}
.disc__name {
    padding: 70rem var(--margin-4) 30rem var(--margin-4);
}
.disc__name h2 {
    font-size:30rem;
    letter-spacing: 4rem;
}
.artists__name h4{
     font-size:20rem;
     letter-spacing: 4rem;
 }
.name__left {
    width: calc(100vw / 3);
}
.scroll__cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(90deg, rgba(211,211,211,1) 0%, rgba(211,211,211,0) 100%); */
    z-index: 2;
    backdrop-filter: blur(5px);
    transition: all .2s ease-out;
}
.scroll__cover:hover {
    backdrop-filter: blur(0px);
}
/*.scroll__cover__related {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    !* background: linear-gradient(90deg, rgba(211,211,211,1) 0%, rgba(211,211,211,0) 100%); *!*/
/*    z-index: 2;*/
/*    backdrop-filter: blur(5px);*/
/*    transition: all .2s ease-out;*/
/*    pointer-events: auto;*/
/*}*/
/*.scroll__cover__related:hover {*/
/*    pointer-events: none;*/
/*    backdrop-filter: blur(0px);*/
/*}*/
/*
右から左へ
----------------------------*/
@keyframes infinity-scroll-left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

/*
IE11対策
----------------------------*/
.d-demo {
    display: -ms-grid;
    height: 200rem;
    display: flex;
    align-items: center;
}
/*----------------------------*/
.d-demo-related {
    height: 320rem;
}
.d-demo__wrap {
    display: flex;
    overflow: hidden;
    gap:30rem;
    transform: rotate(5deg);
}
.d-demo__wrap-related {
    display: flex;
    overflow: hidden;
    gap:30rem;
    transform: rotate(5deg);
}
.d-demo__list {
    display: flex;
    list-style: none;
    gap:30rem;
}

.d-demo__list--left{
    animation :infinity-scroll-left 30s infinite linear 0.5s both;
}

.d-demo__item {
    width: calc(100vw / 9);
}
.d-demo__item-related {
    width: calc(100vw / 9);
}
.d-demo__item-related > div {
    cursor: pointer;
}
.d-demo__item-related > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.d-demo__item > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main__text {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 40rem;
    letter-spacing: 4rem;
    z-index: 5;
    color: #fff;
    font-weight: bold;
    pointer-events: none;
    text-align: center;
}
.related_artists ul {
    display: flex;
    flex-wrap: wrap;
}
.related_artists ul li {
    border-right: 1px solid #d3d3d3;
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc(100vw / 4);
    height: 100%;
    cursor: pointer;
}
/*.related_artists ul li::before {*/
/*    content: "";*/
/*    display: block;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    position: absolute;*/
/*    top:0;*/
/*    left:0;*/
/*    z-index: 1;*/
/*    opacity: 0;*/
/*    background: #000;*/
/*    transition: all 0.5s;*/
/*}*/
.related_artists ul li a {
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
}
.related_artists ul li a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.related__artists__info {
    display: block;
    width: 90%;
    margin: 20rem auto;
}
.related__artists__info span {
    color: #ababab;
}
.related__artists__genre {
    display:flex;
    flex-wrap: wrap;
    gap:6rem;
    margin:10rem 0;
}
.related_artists__name{
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%,-50%);*/
    /*opacity: 0;*/
    /*transition: all 0.5s;*/
    color: #000;
    z-index: 5;
    font-weight:400;
    font-size: 14rem;
    line-height: 1.75;
}
/*.related_artists ul li:hover::before {*/
/*    opacity:0.5*/
/*}*/
/*.related_artists ul li:hover .related_artists__name{*/
/*    opacity: 1;*/
/*}*/
.more__button {
    display:grid;
    place-items:center;
    margin: var(--margin-1) 0 var(--margin-2) 0;
}
.side__music__menu {
    z-index: 9999;
    position: fixed;
    width: 40vw;
    min-height: 100vh;
    overflow: auto;
    backdrop-filter: blur(20px);
    top:0%;
    right: -50%;
    transition: all .4s ease;
}
.side__music__menu .music__list{
    height: 100%;
    width: 100%;
    margin:var(--margin-1) 0 ;
    font-size: 20rem;
    display: flex;
    flex-direction: column;
    gap:30rem;
    position: absolute;
    top:50%;
    left:50%;
    padding:20rem 100rem;
    transform:translate(-50%,-50%);
    color:#000;
}
.music__list li {
    display: flex;
    align-items: center;
    gap:30rem;
    cursor: pointer;
    position: relative;
    width: fit-content;
    line-height: 1.5;
}
.music__list li > div {
    display: flex;
    align-items: center;
    gap:20rem;
}
.music__list span {
    display: block;
    width: 20rem;
}
.music__list .disc__icon img {
    object-fit: cover;
    border-radius: 6rem;
}
.disc__icon {
    position: relative;
}
.disc__icon span {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    border-radius: 6rem;
    z-index:2;
}
.play_canvas {
    position: absolute;
    width: 40px;
    height: 50px;
    left: 50%;
    top:40%;
    transform:translate(-50%,-50%);
    z-index: 5;
}
/* history */
.history {
    overflow: scroll;
    position: relative;
    min-height: 100vw;
    margin-bottom: 340rem;
}
.history .parts__window:not(:first-child) {
    position: relative;
    margin-top:120rem;
}
.history .parts__window:nth-child(2) {
    --index:2;
    margin-left: calc(var(--index) * 40rem);
}
.history .parts__window:nth-child(3) {
    --index:3;
    margin-left: calc(var(--index) * 40rem);
}
.close__button {
    cursor: pointer;
    width: 20rem;
    color: #343434;
    position: absolute;
    top:0%;
    right: 5%;
    z-index: 99;
    font-size: 30rem;
}
.music__link img{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mousestorker__view {
    opacity: 0;
    position: fixed;
    top: -50px;
    left: -50px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border:1px solid #fff;
    backdrop-filter: blur(5px);
    transition-timing-function: ease-out;
    z-index: 10;
    pointer-events: none;
}
.top_visual > .artist__image__f > img {
    width: 30vw;
    padding: 0;
}
.artist__image__f {
    display: flex;
    justify-content: center;
}
.img_load {
    object-fit: cover;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background-color: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #bbbbbb 18%, #eeeeee 33%);
    background-size: 800px 104px;
    height: 100%;
    position: relative;
}
.mousestorker__view::before {
    content: 'View';
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    color: #fff;
    font-size: 16rem;
    letter-spacing: 3rem;
    font-weight: 400;
    mix-blend-mode: difference;
}
@media (min-width: 751px) {
    .spotify__link {
        width: 14rem;
        height: 14rem;
        object-fit: cover;
    }
    .sp__timeline {
        display: none;
    }
}
@media (max-width:750px) {
    .sp__timeline {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap:30rem;
    }
    .close__button {
        top:-3%;
        font-size: 20rem;
    }
    .side__music__menu {
        width: 50vw;
    }
    .side__music__menu .music__list {
        font-size: 9rem;
        gap:14rem;
    }
    .music__list li {
        gap:8rem;
    }
    .top_visual {
        padding-top:0;
    }
    .top_visual img {
        padding: 40rem 0 0 0;
        height: 100%;
    }
    .artists__name {
        padding: 30rem 10rem;
    }
    .artists__name h2 {
        font-size:20rem;
    }
    .artists__name h4 {
        font-size:10rem;
    }
    .disc {
        margin:20rem 0;
    }
    .disc__name {
        padding: 20rem var(--margin-1);
    }
    .disc__name h2 {
        font-size:10rem;
    }
    .music {
        margin: var(--margin-1) 0;
        width: 60vw;
    }
    .music__name {
        font-size: 10rem;
    }
    .d-demo__item {
        width: calc(100vw / 2);
    }
    .d-demo__item-related {
        width: calc(100vw / 2);
    }
    .side__music__menu .music__list {
        padding: 0 20rem;
    }
    .mousestorker__view::before {
        font-size: 8rem;
        letter-spacing: 1rem;
    }
    .music__list li > div {
        gap:10rem;
    }
    .music__list li > div > span {
        width: 12rem;
    }
}
@media (max-width: 550px) {
    .side__music__menu {
        width: 100vw;
        right: -100%;
    }
}