.primary__button {
    width: 120rem;
    height: 38rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-white-100);
    background: var(--color-black-100);
    opacity: .6;
    border-radius: 20rem;
    font-size: 16rem;
    font-family: neue-haas-unica, iroha-26tubaki-stdn, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    transition: opacity .3s ease;
}